<%= link_to "Terug naar #{@company.name}", company_path(@company) %>

<div class="container my-4">
    <h2>Voeg een nieuwe connectie toe</h2>
    <%= simple_form_for([@company, @connection]) do |f|  %>
    <div class="form-group">
        <%= f.input :name, class: "form-control" %>
        <%= f.button :submit, "submit", class: "btn btn-primary" %>
    </div>
    <% end%>


    <h2 class=" pt-4">De huidige connecties</h2>
    <div class="">
        <ul>
            <% @connections.each do |connection| %>
            <li>
                <%= link_to  "Connectie #{connection.name}", connection_path(connection), class: 'text-link' %></b>
                -
                <%= link_to " Verwijder deze connectie", connection_path(connection), method: "DELETE", data: {confirm: "Are you sure?"}  %>
            </li>
            <% end %>
        </ul>
    </div>
</div>