<%= link_to "Back to #{@connection.company_name}", company_path(@connection.connection_company) %>
<div class="container">
    <h1><%= @connection.name %></h1>
    <h3>Total old costs:</h3>
    <%= @connection.sum_of_all_years %>
    <ul>
        <% @connection.connection_years.each do |cy| %>
        <ul>
            <li>
                Year: <%= cy.year.name %>
            </li>
            <li>
                Current price : €<%= cy.price_euros %>
            </li>
            <li>
                KWH: <%= cy.kwh %>
            </li>
            <li>
                <%= link_to "delete", connection_year_path(cy), method: "DELETE" %>
            </li>
        </ul>
        <br>
        <br>
        <% end %>
    </ul>

    <% @years.each do |year| %>
    <div class="row mb-5">
        <b>Year: <%= year.name %></b>
        <%= simple_form_for([@connection, @connection_year]) do |f|%>
        <% if @connection_year.errors.any? %>
        <br>
        <br>
        <p><%= @connection_year.errors.messages[:connection][0] %></p>
        <% end %>
        <%= f.input :kwh %>
        <%= f.input :year_id, as: 'hidden', :input_html => { :value => year.id } %>

        <%= f.button :submit, class: 'btn btn-primary' %>
        <% end %>
    </div>
    <% end %>
</div>