<%= link_to "Terug naar #{@company.name}", company_path(@company) %>
<div class="container">
    <div class="table-title">
        <h3><%= @company.name %></h3>
        <h3>Globale statistieken</h3>

    </div>

    <table class="table-fill mb-5">
        <thead>
            <tr>
                <th class="text-left">Totaal aantal connecties</th>
                <th class="text-left">Totaal Kwh</th>
                <th class="text-left">Oude prijs</th>
                <th class="text-left">Nieuwe prijs</th>
                <th class="text-left">Besparing</th>
            </tr>
        </thead>
        <tbody class="table-hover">
            <tr>
                <td class="text-left"><%= @company.number_of_connections %></td>
                <td class="text-left"><%= @company.total_kwh %></td>
                <td class="text-left">€<%= @company.total_old_price%></td>
                <td class="text-left">€<%= @company.total_new_price %></td>
                <td class="text-left">€<%= @company.total_savings  %></td>
            </tr>
        </tbody>
    </table>

    <div class="table-title">
        <h3>Jaarlijkse statistieken</h3>

    </div>
    <table class="table-fill mb-5">
        <thead>
            <tr>
                <th class="text-left">Jaar</th>
                <th class="text-left">Aantal connecties</th>
                <th class="text-left">Totaal Kwh</th>
                <th class="text-left">Oude prijs</th>
                <th class="text-left">Nieuwe prijs</th>
                <th class="text-left">Besparing</th>
            </tr>
        </thead>
        <tbody class="table-hover">
            <% @years.each do |year| %>
            <tr>
                <td class="text-left"><%= year.name %></td>
                <td class="text-left"><%= @company.number_of_connections_per_year(year) %></td>
                <td class="text-left"><%= @company.total_kwh_per_year(year) %></td>
                <td class="text-left">€<%= @company.old_price_for(year) %></td>
                <td class="text-left">€<%= @company.new_price_for(year) %></td>
                <td class="text-left">€<%= @company.savings_for(year) %></td>
            </tr>
            <% end %>
        </tbody>
    </table>
</div>